<h2>Other sites that use the Strava API</h2>

<ul class="unstyled">
<li><a href="http://stravafriends.cd34.com/" target="_new">StravaFriends</a> - find other people in your area that have ridden segments that you've ridden.</li>
<li><a href="http://veloviewer.com/" target="_new">VeloViewer</a> - a dashboard for viewing your Strava Data.</li>
<li><a href="http://raceshape.com/" target="_new">RaceShape</a> - see your performance against others on segments you've ridden to take back that KOM.</li>
<li><a href="http://www.jonathanokeeffe.com/strava/segmentDetails.php" target="_new">Segment Details</a> - analysis of segment KOMs.</li>
<li><a href="http://www.jonathanokeeffe.com/strava/map.php" target="_new">Strava Heatmaps</a> - See where you ride most frequently.</li>
<li><a href="http://trainingtools.nffe.cc/" target="_new">Progress on a Strava Segment</a></li>
</ul>
