path {
  stroke: steelblue;
  fill: none;
  stroke-width: 1;
}

rect {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x line, .y line {
  stroke: #ccc;
  shape-rendering: crispEdges;
}
